.navbar {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  height: 3em;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  height: 3em;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

.navbar li a {
  text-decoration: none;
  margin: 0 1em;
  color: white;
  transition: 0.5s;
}

.navbar li a:hover {
  background: transparent;
  color: black;
  transition: 0.5s;
}
.shopping-cart{
  height: 3em;
}

@media screen and (max-width: 546px) {
  .nav-tablet{
    display: none;
  }
}
