.content {
  background-color: #F9F6F6;
}

.first-header {
  background: url('https://preview.ibb.co/j8nRCQ/fashion2.jpg');
}

.second-header {
  background: url('https://preview.ibb.co/fm4Cmk/fashion3.jpg');
}

.third-header {
  background: url('https://preview.ibb.co/bMsCK5/fashion5.jpg');
}

.fourth-header {
  background: url('https://preview.ibb.co/gtsZXQ/fashion6.jpg');
}

.first-header, .second-header, .third-header, .fourth-header {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}

