.show-product {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 4px solid black;
}

.item-wrapper {
  background-color: white;
  width: 50em;
  border-left: 3px solid black;
  border-right: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40em;
  font-family: 'Quicksand', sans-serif;
  margin-left: 20em;
}

.similar-products {
  height: 40em;
  overflow: scroll;
  font-family: 'Lato', sans-serif;
  margin: 0 3em;
  background-color: white;
}

.similar-product {
  height: 30em;
  width: 20em;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: .5em;
  padding: 1em;
  background-color: white;
  transition: transform 300ms bounce;
}

#product-name {
  padding: 1em 0 0;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  margin: .5em 0;
}


#product-description {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  color: grey;
  font-weight: lighter;
  margin: 0;
}

#product-price {
  font-size: 1em;
}


.item-name #product-name {
  font-size: 40px;
  border: none;
}

.item-name #product-description {
  font-size: 30px;
}

.item-name #product-price {
  font-size: 20px;
  color: grey;
}

.stars {
  display: flex;
}
