.header {
  height: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  background: transparent; 
}

#header-title {
  font-weight: lighter;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
}

.links-header {
  width: 100%;
  table-layout: fixed;
}

.links-header tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.links-header tr td {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding:20px;
}
button {
  flex: 1;
  color: black;
  text-decoration: none;
  padding: 0 1em;
  background: rgba(255, 255, 255, 0.7);
  padding: 1em 2em;
  border-radius: 5px;
  transition: 0.5s;
  height: auto;
  width:100%
}

p a:hover {
  background: #FFF;
  transition: 0.5s;
}

@media screen and (max-width: 360px) {
  #header-title{
    font-size: 3.2em;
  }
}

@media screen and (max-width: 546px) {
  .links-header{
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .links-header tr td{
    min-width: 50%;
  }
}


